<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script src="{% static 'js/cart.js' %}"></script>
</head>
<body>
    <div class="shopping-cart">
        <div class="title">Shopping Cart</div>

        {% if items %}
            {% for item in items %}
                <div class="item">
                    <div class="buttons">
                        <span class="delete-btn"></span>
                        <span class="like-btn"></span>
                    </div>

                    <div class="image">
                        <img src="{{ item.product.image.url }}" alt="Product Image" />
                    </div>

                    <div class="description">
                        <span>{{ item.product.name }}</span>
                        <span>{{ item.product.description }}</span>
                    </div>

                    <div class="quantity">
                        <button class="minus-btn" type="button" name="button">
                            <img src="{% static 'images/minus.svg' %}" alt="Minus" />
                        </button>
                        <input type="text" name="name" value="{{ item.quantity }}">
                        <button class="plus-btn" type="button" name="button">
                            <img src="{% static 'images/plus.svg' %}" alt="Plus" />
                        </button>
                    </div>

                    <div class="total-price">${{ item.get_total_price }}</div>
                </div>
            {% endfor %}
            <div class="total">
                <h2>Total: ${{ total_price }}</h2>
                <a href="{% url 'checkout' %}"><button>Proceed to Checkout</button></a>
            </div>
        {% else %}
            <p>There are no more items in your cart</p>
        {% endif %}
    </div>
</body>
</html>
