<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'prodstyles.css' %}">
    <title>Product Showcase</title>
</head>

<body>
    <header>
        <div class="RRlogo">EcoFinds</div>
        <button class="RRbuy-now-button">&#128722; Buy now</button>
    </header>
    <main>
        <div class="RRfilter-section">
            <select id="RRcategorySelect" onchange="RRfilterProducts()">
                <option value="all">All Products</option>
                <option value="men">Men's Styling</option>
                <option value="women">Women's Styling</option>
                <option value="home">Home Essentials</option>
            </select>
        </div>
        <section class="RRproduct-section">
            <div class="RRcontainer RRcategory">
                <!-- Products will be inserted here by JavaScript -->
            </div>
        </section>
    </main>
    <script>
        const aboutusUrl = "{% url 'cart' %}";
    </script>
    <script src="{% static 'prod.js' %}"></script>
</body>

</html>
