{% extends 'marketplace/header.html' %}


{% block content %}
<main>
    <div class="vicky-loginDiv" id="loginDiv">
      <h1>Forget Password</h1>
      <form method="post">
        {% csrf_token %}
        <div class="vicky-inputField">
          <label for="username" class="vicky-password"
            >{{ form.username.label }}</label
          >
          {{ form.username }}
        </div>
        <button type="submit" class="vicky-login">Submit</button>
      </form>
    </div>

  {% block styles %}
<style>
  main{
    min-height: 70vh;
  }

  </style>
{% endblock %}


</main>
{% endblock %}