{% extends 'marketplace/header.html' %}


{% block content %}
     <main>

    <div class="vicky-loginDiv" id="loginDiv">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        <div class="vicky-inputField">
          {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="vicky-inputField">
          {{ form.password.label_tag }} {{ form.password }}
        </div>
        <div
          class="vicky-error"
          aria-errormessage="Invalid username or password."
          id="error"
        >
          {% if form.non_field_errors %}
          <p>{{ form.non_field_errors }}</p>
          {% endif %}
        </div>
        <button type="submit" class="vicky-login">Login</button>
      </form>
      <br><br>
<a href="{% url 'forget_password' %}" style="color: #4a7d47;">Forgot Password?</a>
<div class="vicky-links"></div>
<a href="{% url 'register' %}" style="color: #4a7d47;">New User? Register here!</a>

      </div>
     </main>
 {% endblock %}