{% extends 'marketplace/header.html' %}


{% block content %}
<main>
    <div class="vicky-loginDiv" id="loginDiv">
      <h1>Security Questions</h1>
      <form method="post">
        {% csrf_token %}
        <div class="vicky-inputField">
          <label for="id_security_question1" class="vicky-security"
            >{{ security_questions.question1 }}</label
          >
          <input
            type="text"
            name="security_answer1"
            id="id_security_answer1"
            class="form-control"
            required
          />
        </div>
        <div class="vicky-inputField">
          <label for="id_security_question2" class="vicky-security"
            >{{ security_questions.question2 }}</label
          >
          <input
            type="text"
            name="security_answer2"
            id="id_security_answer2"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="vicky-login">Submit</button>
      </form>
    </div>
  {% block styles %}
<style>
  main{
    min-height: 80vh;
  }

  </style>
{% endblock %}


</main>
{% endblock %}