<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set New Password - Eco-Friendly Products Marketplace</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style1.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="vicky-loginDiv" id="loginDiv">
      <h1>Set New Password</h1>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}" />
        <div class="vicky-inputField vicky-password">
          <label for="new_password" class="vicky-password"
            >{{ form.new_password.label }}</label
          >
          {{ form.new_password }}
        </div>
        <div class="vicky-inputField vicky-password">
          <label for="confirm_password" class="vicky-password"
            >{{ form.confirm_password.label }}</label
          >
          {{ form.confirm_password }}
        </div>
        <button type="submit" class="vicky-login">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </body>
</html>
