{% extends 'marketplace/header.html' %}


{% block content %}
<main>
    <div class="vicky-loginDiv" id="loginDiv">
      <h1>Set New Password</h1>
      <form id="setNewPasswordForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}" />
        <div class="vicky-inputField vicky-password">
          <label for="new_password" class="vicky-password"
            >{{ form.new_password.label }}</label
          >
          {{ form.new_password }}
        </div>
        <div class="vicky-inputField vicky-password">
          <label for="confirm_password" class="vicky-password"
            >{{ form.confirm_password.label }}</label
          >
          {{ form.confirm_password }}
        </div>
        <button type="submit" class="vicky-login">Submit</button>
      </form>
      <div
        id="successMessage"
        style="display: none; color: green; margin-top: 20px"
      >
        Password successfully set
      </div>
    </div>

  {% block styles %}
<style>

    main{
    min-height: 80vh;
  }


  </style>
{% endblock %}


{% block scripts %}
<script>

      $(document).ready(function () {
        $("#setNewPasswordForm").on("submit", function (event) {
          event.preventDefault();
          $.ajax({
            url: "{% url 'set_new_password' %}",
            method: "POST",
            data: $(this).serialize(),
            success: function (response) {
              if (response.success) {
                $("#successMessage").show();
                setTimeout(function () {
                  window.location.href = "{% url 'login' %}";
                }, 2000); // Redirect after 2 seconds
              } else {
                alert(response.error);
              }
            },
          });
        });
      });

    </script>
  {% endblock %}
</main>
{% endblock %}
