<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="wishlist-header">Your Wishlist</h2>
        <div class="row wishlist-container">
            {% for product in wishlist_items %}
                <div class="col-md-4 wishlist-item" id="wishlist-item-{{ product.id }}">
                    <div class="card-wishlist mb-4">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                        <div class="card-body-wishlist">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{% url 'add_to_cart_from_wishlist' product.id %}" class="btn btn-success">Add to Cart</a>
                            <a href="{% url 'remove_from_wishlist' product.id %}" class="btn btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>